.navbar {
	display: -webkit-box;
	display: flex;
	justify-content: space-around;
	-webkit-box-align: center;
	align-items: center;
	color: white;
	background-color: transparent;
	z-index: 5;
	padding: 5px 0;
	position: fixed;
	width: 100%;
	top: 0;
}

.navbar:hover {
	resize: none;
}

.navitem {
	text-decoration: none;
	font-size: 1.1rem;
	font-weight: 500;
	/* GET NICKO'S OPINION ON THIN VS BOLD FONT FOR MENU */
	width: 100%;
	position: relative;
	text-align: center;
	word-wrap: break-word;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: none;
}

.navitem:hover {
	font-style: italic;
	width: fixed;
}



/*                 
 NOTICEABLE DIVIDE

*/


/* Header */

#header {
	display: -moz-flex;  /* Firefox*/
	display: -webkit-flex;  /* Safari */
	display: -ms-flex;  /* Internet explorer*/
	display: flex;
	-moz-flex-direction: column;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	-moz-align-items: center;
	-webkit-align-items: center;
	-ms-align-items: center;
	align-items: center;
	-moz-transition: -moz-transform 0.325s ease-in-out, -moz-filter 0.325s ease-in-out, opacity 0.325s ease-in-out;
	-webkit-transition: -webkit-transform 0.325s ease-in-out, -webkit-filter 0.325s ease-in-out, opacity 0.325s ease-in-out;
	-ms-transition: -ms-transform 0.325s ease-in-out, -ms-filter 0.325s ease-in-out, opacity 0.325s ease-in-out;
	transition: transform 0.325s ease-in-out, filter 0.325s ease-in-out, opacity 0.325s ease-in-out;
	background-image: -moz-radial-gradient(rgba(0, 0, 0, 0.25) 25%, rgba(0, 0, 0, 0) 55%);
	background-image: -webkit-radial-gradient(rgba(0, 0, 0, 0.25) 25%, rgba(0, 0, 0, 0) 55%);
	background-image: -ms-radial-gradient(rgba(0, 0, 0, 0.25) 25%, rgba(0, 0, 0, 0) 55%);
	background-image: radial-gradient(rgba(0, 0, 0, 0.25) 25%, rgba(0, 0, 0, 0) 55%);
	max-width: 100%;
	text-align: center;
}

#header>* {
	-moz-transition: opacity 0.325s ease-in-out;
	-webkit-transition: opacity 0.325s ease-in-out;
	-ms-transition: opacity 0.325s ease-in-out;
	transition: opacity 0.325s ease-in-out;
	position: relative;
	margin-top: 3.5rem;
}
/* Only put this back in if u want the vertical lines connecting the Logo to central heading to the navbar
#header>*:before {
	content: '';
	display: block;
	position: absolute;
	top: calc(-3.5rem - 1px);
	left: calc(50% - 1px);
	width: 1px;
	height: calc(3.5rem + 1px);
	background: #fff;
}  */

#header> :first-child {
	margin-top: 0;
}

#header> :first-child:before {
	display: none;
}

#header .logo {
	width: 5.5rem;
	height: 5.5rem;
	line-height: 5.5rem;
	border: solid 1px #ffffff;
	border-radius: 100%;
}

#header .logo .icon:before {
	font-size: 2rem;
}

#header .content {
	border-style: solid;
	border-color: #ffffff;
	border-top-width: 1px;
	border-bottom-width: 1px;
	max-width: 100%;
}

#header .content .inner {
	-moz-transition: max-height 0.75s ease, padding 0.75s ease, opacity 0.325s ease-in-out;
	-webkit-transition: max-height 0.75s ease, padding 0.75s ease, opacity 0.325s ease-in-out;
	-ms-transition: max-height 0.75s ease, padding 0.75s ease, opacity 0.325s ease-in-out;
	transition: max-height 0.75s ease, padding 0.75s ease, opacity 0.325s ease-in-out;
	-moz-transition-delay: 0.25s;
	-webkit-transition-delay: 0.25s;
	-ms-transition-delay: 0.25s;
	transition-delay: 0.25s;
	padding: 3rem 2rem;
	max-height: 40rem;
	overflow: hidden;
}

#header .content .inner> :last-child {
	margin-bottom: 0;
}

#header .content p {
	text-transform: uppercase;
	letter-spacing: 0.2rem;
	font-size: 0.8rem;
	line-height: 2;
}

#header nav ul {
	display: -moz-flex;
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	margin-bottom: 0;
	list-style: none;
	padding-left: 0;
	border: solid 1px #ffffff;
	border-radius: 4px;
}

#header nav ul li {
	padding-left: 0;
	border-left: solid 1px #ffffff;
}

#header nav ul li:first-child {
	border-left: 0;
}

#header nav ul li a {
	display: block;
	min-width: 7.5rem;
	height: 2.75rem;
	line-height: 2.75rem;
	padding: 0 1.25rem 0 1.45rem;
	text-transform: uppercase;
	letter-spacing: 0.2rem;
	font-size: 0.8rem;
	border-bottom: 0;
}

#header nav ul li a:hover {
	background-color: rgba(255, 255, 255, 0.075);
}

#header nav ul li a:active {
	background-color: rgba(255, 255, 255, 0.175);
}

#header nav.use-middle:after {
	content: '';
	display: block;
	position: absolute;
	top: 0;
	left: calc(50% - 1px);
	width: 1px;
	height: 100%;
	background: #ffffff;
}

#header nav.use-middle ul li.is-middle {
	border-left: 0;
}

body.is-article-visible #header {
	-moz-transform: scale(0.95);
	-webkit-transform: scale(0.95);
	-ms-transform: scale(0.95);
	transform: scale(0.95);
	-moz-filter: blur(0.1rem);
	-webkit-filter: blur(0.1rem);
	-ms-filter: blur(0.1rem);
	filter: blur(0.1rem);
	opacity: 0;
}

body.is-preload #header {
	-moz-filter: blur(0.125rem);
	-webkit-filter: blur(0.125rem);
	-ms-filter: blur(0.125rem);
	filter: blur(0.125rem);
}

body.is-preload #header>* {
	opacity: 0;
}

body.is-preload #header .content .inner {
	max-height: 0;
	padding-top: 0;
	padding-bottom: 0;
	opacity: 0;
}

@media screen and (max-width: 980px) {
	#header .content p br {
		display: none;
	}
}

@media screen and (max-width: 736px) {
	#header>* {
		margin-top: 2rem;
	}
	#header>*:before {
		top: calc(-2rem - 1px);
		height: calc(2rem + 1px);
	}
	#header .logo {
		width: 4.75rem;
		height: 4.75rem;
		line-height: 4.75rem;
	}
	#header .logo .icon:before {
		font-size: 1.75rem;
	}
	#header .content .inner {
		padding: 2.5rem 1rem;
	}
	#header .content p {
		line-height: 1.875;
	}
}

@media screen and (max-width: 480px) {
	#header {
		padding: 1.5rem 0;
	}
	#header .content .inner {
		padding: 2.5rem 0;
	}
	#header nav ul {
		-moz-flex-direction: column;
		-webkit-flex-direction: column;
		-ms-flex-direction: column;
		flex-direction: column;
		min-width: 10rem;
		max-width: 100%;
	}
	#header nav ul li {
		border-left: 0;
		border-top: solid 1px #ffffff;
	}
	#header nav ul li:first-child {
		border-top: 0;
	}
	#header nav ul li a {
		height: 3rem;
		line-height: 3rem;
		min-width: 0;
		width: 100%;
	}
	#header nav.use-middle:after {
		display: none;
	}
}

/* Adding in my own header fade-in effect here */
#header {
	opacity: 1;
	transition: opacity 5s;
}



/* 		END 			OF 
									HEADER 
														SECTION          */









#logo-container {
	display: flex;
	justify-content: center;
	align-items: center;
	top: 50%;
	left: 50%;
}

#logo-container img {
	position: inherit;
	/*  REVISIT THIS WHEN SOLVING SHRINKING NAV PROBLEM */
}

.content {
	display: flex;
	justify-content: space-around;
	align-items: center;
	opacity: 70%;
	position: relative;
	z-index: 100;
	top: 150px;
}

.content:hover {
	color: transparent;
}

#header {
	position: fixed;
	margin-left: 200px;
}

footer {
	bottom: 0px;
}

/*
 .leftcolumn img {
	 max-width: 100%;
	 height: auto;
	 display: block;
	 transition: transform ease-in-out 0.3s;
	 border: 20px white;
	margin: 40px 10px;
	transition: width 0.5s ease-out;
	transition: height 0.5s ease-out;
}
*/

#homegallery {
	display: inline-flex;
	justify-content: space-around;
	align-items: flex-start;
	margin-top: 11rem;  
	padding: 0 10px;
}

.leftcolumn {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	 /* for the left column, this moves the column ever so slightly left. */
	width: 38%;
}

.boundingbox {
	width: 100%;
	height: auto;
	overflow: hidden;
	margin: 20px;
}

.zoomable {
	width: 100%;
	height: 100%;
	background-position: center;
	background-size: cover;
	transition: transform ease 0.3s;
}

.zoomable:hover {
	overflow: hidden;
	transform: scale(1.2);
}

.rightcolumn {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	margin-top: 4rem;        /* this offsets the right side to be lower than the left */
	width: 40%;
}

/* LIGHTBOX GALLERY EFFECT */

.galleryable {
	cursor: pointer;
}

/* [LIGHTBOX BACKGROUND] */

#lb-back {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background: rgba(0, 0, 0, 1);
	z-index: 999;
	visibility: hidden;
	opacity: 0;
	transition: all ease 0.4s;
}

#lb-back.show {
	visibility: visible;
	opacity: 1;
}

/* [LIGHTBOX IMAGE] */

#lb-img {
	/*  This first bit centers the image in the lightbox  */
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	text-align: center;
}

#lb-img img {
	/* You might want to play around with 
	   width, height, max-width, max-height
	   to fit portrait / landscape pictures properly. */
	max-width: 40%;  /* okay how tf do you have two possible values -- 40% is PERF for portraits, and 80% is PERF for landscapes. How to have both?? */ 
	max-height: 100%;
	height: auto;
	margin: 0 auto;
}

#lb-img img.landscape {
	max-width: 80%; 
	max-height: 100%;
	height: auto;
	margin: 0 auto;
}

/* Responsive Design */

/* MOBILE */

@media only screen and (max-width: 480) {
	.navbar {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		flex-direction: column;
		-webkit-box-align: stretch;
		align-items: stretch;
	}
	.item {
		text-align: center;
	}
}

/* VERTICAL TABLET or HORIZONTAL PHONE */

@media only screen and (max-width: 770px) {
	.navbar {
		
	}
	.item {
		text-align: center;
	}
}

/* HORIZONTAL TABLETS */

@media only screen and (max-width: 1024px) {
	.navbar {
		
	}
	.item {
		text-align: center;
	}
}